<h1>Resultado da pesquisa:</h1>
<p>
    <% if @processos.count > 0 %>
      <% for processo in @processos %>
        <%= processo.id %>
      <% end %>
    <% else %>
        Nenhum proceso foi encontrado
    <%end%>

</p>